@import "tailwindcss";

@theme {
  /* Light Mode */

  --color-darkVanilla: #dec OAE;

  --color-parrotPink: #d4949d;

  --color-liberty: #5c63a4;

  --color-lavenderPurple: #8b7fac;

  --color-cadetBlue: #acb0cc;

  --color-softMist: #e5e8f0;

  /* Dark Theme */

  --color-darkBg: #1e1b24;

  --color-darkSurface: #3b3354;

  --color-darkText: #eae6f1;

  --color-darkAccent: #ffbfd9;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-in-out;
}
